.jumbotron {
    height: 200px;

}

.container1 {
    width: 95%;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
}

.jumbotron {
    background: #05da2c;
}

footer {
    margin-top: 100px;
    width: 100%;
    height: 120px;
    padding: 0;
    background: #389feeda;
    color: white;
}


.reserva{
    margin-top: 40px;
    border-radius: 5px;
    border: 1.2px solid #bebebe5d;
    padding: 10px 25px  15px  25px;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
}

.reserva p {
    padding-top: 20px;
    margin: auto;
    text-align: center;
    font-size: 13px;
}

