{{> navegacion}}

<section class="administrador">
     <i class="fas fa-user"></i>
     "text-center mt-3"
    <div class="container">
        <h1 class="text-center mt-3">ADMINISTRADOR</h1>
        <p>Bienvenido: <label id="emailUsuarioLogueado"></label></p>
        <div class="row justify-content-center h-100">
            <form class="reserva" method="POST" action="/agregar">
                <p><strong>Agregar Datos</strong> </p>
                <hr>
                <div class="info">
                    <input name="id" type="hidden" class="d-none">
                    <label for="" class="mt-3"><strong>Nombre</strong> </label>
                    <input type="text" class="form-control form-control-sm" name="nombre"
                        placeholder="Ingrese su nombre">

                    <label for="" class="mt-3"><strong>Apellido</strong></label>
                    <input type="text" class="form-control form-control-sm" name="apellido"
                        placeholder="Ingrese su apellido">
                    <label for="" class="mt-3"><strong>Edad</strong></label>
                    <input type="text" class="form-control form-control-sm" name="edad"
                        placeholder="Ingrese su apellido">


                    <label for="" class="mt-3"><strong>Sexo</strong></label>
                    <select class="custom-select" name="sexo">
                        <option selected disabled value>...</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                    <label for="" class="mt-3"><strong>Profession</strong></label>
                    <input type="text" class="form-control form-control-sm" name="profesion"
                        placeholder="ingrese su profesion">

                    <label for="" class="mt-3"><strong>Telefono</strong></label>
                    <input type="text" class="form-control form-control-sm" name="telefono"
                        placeholder="ingrese su telefono">

                    <label for="" class="mt-3"><strong>Correo electronico</strong></label>
                    <input type="email" class="form-control form-control-sm" name="correoelectronico"
                        placeholder="name@example.com">


                    <label for="exampleFormControlTextarea1 " class="mt-3"><strong>Perfil</strong></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="perfil"></textarea>

                </div>
                <br>
                <button id="btnreserva" onclick="agregarDatos()"
                    class="btn btn-primary btn-lg btn-block">agregar</button>

            </form>
        </div>

        <div class="tablaclientes col">
            <h2>Usuario </h2>
            <div class="" method="POST" action="/leerDatos">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Profesion</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo electronico</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Editar</th>

                        </tr>
                    </thead>
                    <tbody id="listaCliente">

                    </tbody>
                </table>
            </div>
        </div>

</section>


{{> footer}}